@page "/TaskList"
@using BlazorBasic.Components;
@using BlazorModel.Enums;
@inject IConfiguration Configuration
<h3>Task List </h3>


@if(Tasks == null || Assignees == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <EditForm Model="@TaskListSearch" OnSubmit="@SearchForm">
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="TaskListSearch.Name"></InputText>
                </div>
                <div class="col">
                    <label>Assignee</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.AssigneeId">
                        <option>Select an assignee</option>
                        @foreach (var assignee in Assignees)
                        {
                            <option value="@assignee.Id">@assignee.FullName</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.Priority">
                        <option>Select a Priority</option>
                        @foreach (string item in Enum.GetNames(typeof(Priority)))
                        {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>
                <div class="col pt-4">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col pt-4">
                    <a href="/taskCreate" class="btn btn-success">Create</a>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Assinee
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/TaskDetails/@item.Id">Details</a>
                            <a href="/taskEdit/@item.Id" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}


